@charset "utf-8";

/* Font Face */
@font-face {
    font-family: 'KBFG';
    src: url('../fonts/KBFGTextL.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'KBFG';
    src: url('../fonts/KBFGTextM.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'KBFG';
    src: url('../fonts/KBFGTextB.woff2') format('woff2');
    font-weight: 700;
}

/* reset */
html {
    color: #111;
    background: #ffffff;
    font-size: 100%;
    font-family: 'KBFG', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}
i{font-style: normal;}
button {
    border: 0;
}

body {
    font-family: 'KBFG', Dotum, "돋움", Gulim, "굴림", Helvetica Neue, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #333333;
    background-color: #ffffff
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset {
    border: 0
}

legend {
    color: #000
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    line-height: 1.2
}

caption,
hr,
legend {
    width: 0px;
    height: 0px;
    font-size: 1px;
    text-indent: -9999em;
    line-height: 0
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:focus {
    color: #111;
    font-size: 100%;
    text-decoration: none;
    -webkit-touch-callout: none;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none
}

::-webkit-outer-spin-button {
    -webkit-appearance: none
}

input[type=number] {
    -moz-appearance: textfield
}

.landscape_none {
    display: none;
}

@media screen and (min-width:460px) and (max-width:585px) and (max-height:500px) and (orientation: landscape) {

    * {}

    .landscape_none {
        display: block;
    }

    .landscape_none .landscape_dimm {
        position: fixed;
        visibility: visible;
        width: 100%;
        height: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        opacity: 0.88;
        background: #000;
        z-index: 12000
    }

    .landscape_none .txt_notice {
        position: fixed;
        top: 50%;
        left: 50%;
        visibility: visible;
        width: 350px;
        margin: -50px 0 0 -175px;
        opacity: 1;
        padding: 80px 20px 40px;
        background: #ffffff url(/dctapp/images/car/common/bg_phone.png) 50% 40px no-repeat;
        background-size: 32px 32px;
        dutext-align: center;
        box-sizing: border-box;
        border-radius: 8px;
        z-index: 12005
    }

    html,
    body {
        overflow: hidden;
    }

}

/** 공통 시스템 팝업 **/
.alert_layer {
    position: relative;
    margin: 0 20px;
    box-sizing: border-box;
}

.alert_layer .alert_layer_cont {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 24px;
    background: #ffffff;
}

.alert_layer .alert_btn_box .btn_full_close {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -9999px;
}

.alert_layer .btn_full_close .ngclic {
    position: absolute;
    left: 0;
    top: 0
}

.alert_layer .alert_btn_box .btn_two_close {
    float: left;
    display: block;
    height: 48px;
    width: 50%;
    border-top: 1px solid #f2f2f2;
    padding-top: 14px;
    box-sizing: border-box;
    color: #111;
    background: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 15px
}

.alert_layer .alert_btn_box .btn_two_close+.btn_two_close {
    border-left: 1px solid #f2f2f2
}

.alert_layer .alert_btn_box .btn_two_close:first-child {
    border-radius: 0 0 0 20px;
    color: #666;
}

.alert_layer .alert_btn_box .btn_two_close:last-child {
    border-radius: 0 0 20px 0;
    border-left: 1px solid #f2f2f2;
}

.alert_layer .alert_btn_box .btn_two_close.ok-text {
    color: #284cc9;
}

.ui-closeApp .notice_second {
    display: block;
    margin-top: 10px
}

.ui-closeApp strong {
    font-weight: 700
}

.ui-confirm-wrap {
    padding: 0px;
    margin: 0 auto;
    max-width: 280px;
}

.ui-confirm-wrap .headTitle {
    position: absolute;
    left: 48px;
    right: 48px;
    top: 0;
    padding: 24px 0 8px;
    background: #fff;
    text-align: center;
    border-radius: 20px 20px 0 0;
    font-weight: 700;
    color: #111;
    font-size: 15px !important
}

.ui-confirm-wrap .alert_layer_cont {
    width: 100%;
    padding: 20px 20px 24px;
    box-sizing: border-box !important;
    border-radius: 20px 20px 0 0 !important;
    background: #ffffff !important;
    padding-top: 32px !important;
    text-align: center;
    color: #111
}

.ui-confirm-wrap .alert_layer_cont.ui-confirm-wrap {
    padding-top: 0 !important
}

.ui-confirm-wrap.ui-notice-msg .alert_layer_cont {
    border-radius: 20px !important;
}


.ui-alert-wrap {
    max-width: 280px;
    padding: 0 40px;
    margin: 0 auto;
}

.ui-alert-wrap.ui-comn-tip {
    padding: 0;
}

.ui-alert-wrap .alert_box {
    box-sizing: border-box;
    border-radius: 24px;
    overflow: hidden;
    background-color: #fff
}

.ui-alert-wrap .alert_layer_cont {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px 12px 0 0;
    background: #ffffff;
}

.ui-alert-wrap .headTitle {
    font-size: 16px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
    padding: 10px 0 8px;
    background: #fff;
    text-align: center;
    border-radius: 8px 8px 0 0;
    font-weight: 700;
    color: #fff;
}

.ui-alert-wrap .alert_btn_box {
    text-align: center;
}

.ui-alert-wrap .btn_full_close {
    display: block;
    ;
    height: 48px;
    padding: 11px 16px 0;
    background: #ffff;
    border-top: 1px solid #f2f2f2;
    line-height: 22px;
    box-sizing: border-box;
    font-size: 15px;
    color: #284cc9;
    text-align: center;
    font-weight: 700;
}



.ui-home .ui-app-close .alert_btn_box {
    padding: 0
}

.ui-home .alert_layer.ui-app-close .alert_btn_box .btn_two_close {
    float: left;
    display: block;
    height: 40px;
    width: 50%;
    padding-top: 10px;
    border-top: 1px solid #d9d8d4;
    box-sizing: border-box;
    color: #000000;
    background: #f5f4f0;
    text-align: center;
    font-weight: 700;
}

.alert_layer.ui-app-close .alert_btn_box .btn_two_close:first-child {
    border-radius: 0 0 0 8px;
}

.alert_layer.ui-app-close .alert_btn_box .btn_two_close:last-child {
    border-radius: 0 0 8px 0;
    border-left: 1px solid #d9d8d4;
}


.dw-trans .dw-persp {
    overflow: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.dw-trans .dw,
.dw-trans .dwo {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 200ms;
    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
}

.dw-trans .dwo {
    -webkit-backface-visibility: hidden;
}

.dw-in .dw {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.dw-out .dw {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.dw-in .dwo {
    -webkit-animation-name: dw-f-in;
    -moz-animation-name: dw-f-in;
    animation-name: dw-f-in;
}

.dw-out .dwo {
    -webkit-animation-name: dw-f-out;
    -moz-animation-name: dw-f-out;
    animation-name: dw-f-out;
}

.dw-flip,
.dw-swing,
.dw-slidehorizontal,
.dw-slidevertical,
.dw-slidedown,
.dw-slideup,
.dw-fade {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0);
    -moz-backface-visibility: hidden;
    -moz-transform: translateX(0);
    backface-visibility: hidden;
    transform: translateX(0);
}

.dw-swing,
.dw-slidehorizontal,
.dw-slidevertical,
.dw-slidedown,
.dw-slideup,
.dw-fade {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.dw-flip,
.dw-pop {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.dw-in .dw-pop {
    opacity: 1;
    -webkit-animation-name: dw-p-in;
    -webkit-transform: scale(1);
    -moz-animation-name: dw-p-in;
    -moz-transform: scale(1);
    transform: scale(1);
    animation-name: dw-p-in;
}

.dw-out .dw-pop {
    opacity: 0;
    -webkit-animation-name: dw-p-out;
    -moz-animation-name: dw-p-out;
    animation-name: dw-p-out;
}

.dw-in .dw-flip {
    opacity: 1;
    -webkit-animation-name: dw-fl-in;
    -webkit-transform: scale(1);
    -moz-animation-name: dw-fl-in;
    -moz-transform: scale(1);
    animation-name: dw-fl-in;
    transform: scale(1);
}

.dw-out .dw-flip {
    opacity: 0;
    animation-name: dw-fl-out;
    -webkit-animation-name: dw-fl-out;
    -moz-animation-name: dw-fl-out;
}

.dw-in .dw-swing {
    opacity: 1;
    -webkit-animation-name: dw-sw-in;
    -webkit-transform: scale(1);
    -moz-animation-name: dw-sw-in;
    -moz-transform: scale(1);
    transform: scale(1);
    animation-name: dw-sw-in;
}

.dw-out .dw-swing {
    opacity: 0;
    -webkit-animation-name: dw-sw-out;
    -moz-animation-name: dw-sw-out;
    animation-name: dw-sw-out;
}

.dw-in .dw-slidehorizontal {
    opacity: 1;
    -webkit-animation-name: dw-sh-in;
    -webkit-transform: scale(1);
    -moz-animation-name: dw-sh-in;
    -moz-transform: scale(1);
    transform: scale(1);
    animation-name: dw-sh-in;
}

.dw-out .dw-slidehorizontal {
    opacity: 0;
    -webkit-animation-name: dw-sh-out;
    -moz-animation-name: dw-sh-out;
    animation-name: dw-sh-out;
}

.dw-in .dw-slidevertical {
    opacity: 1;
    -webkit-animation-name: dw-sv-in;
    -webkit-transform: scale(1);
    -moz-animation-name: dw-sv-in;
    -moz-transform: scale(1);
    animation-name: dw-sv-in;
    transform: scale(1);
}

.dw-out .dw-slidevertical {
    opacity: 0;
    -webkit-animation-name: dw-sv-out;
    -moz-animation-name: dw-sv-out;
    animation-name: dw-sv-out;
}

.dw-in .dw-slidedown {
    -webkit-animation-name: dw-sd-in;
    -webkit-transform: scale(1);
    -moz-animation-name: dw-sd-in;
    -moz-transform: scale(1);
    animation-name: dw-sd-in;
    transform: scale(1);
}

.dw-out .dw-slidedown {
    animation-name: dw-sd-out;
    -webkit-animation-name: dw-sd-out;
    -webkit-transform: translateY(-100%);
    -moz-animation-name: dw-sd-out;
    -moz-transform: translateY(-100%);
}

.dw-in .dw-slideup {
    -webkit-animation-name: dw-su-in;
    -webkit-transform: scale(1);
    -moz-animation-name: dw-su-in;
    -moz-transform: scale(1);
    transform: scale(1);
    animation-name: dw-su-in;
}

.dw-out .dw-slideup {
    animation-name: dw-su-out;
    -webkit-animation-name: dw-su-out;
    -webkit-transform: translateY(100%);
    -moz-animation-name: dw-su-out;
    -moz-transform: translateY(100%);
}

.dw-in .dw-fade {
    opacity: 1;
    -webkit-animation-name: dw-f-in;
    -moz-animation-name: dw-f-in;
    animation-name: dw-f-in;
}

.dw-out .dw-fade {
    opacity: 0;
    -webkit-animation-name: dw-f-out;
    -moz-animation-name: dw-f-out;
    animation-name: dw-f-out;
}

/* Fade in */
@keyframes dw-f-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes dw-f-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes dw-f-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Fade out */
@keyframes dw-f-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes dw-f-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes dw-f-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Pop in */
@keyframes dw-p-in {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes dw-p-in {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes dw-p-in {
    from {
        opacity: 0;
        -moz-transform: scale(0.8);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

/* Pop out */
@keyframes dw-p-out {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@-webkit-keyframes dw-p-out {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }
}

@-moz-keyframes dw-p-out {
    from {
        opacity: 1;
        -moz-transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0.8);
    }
}

/* Flip in */
@keyframes dw-fl-in {
    from {
        opacity: 0;
        transform: rotateY(90deg);
    }

    to {
        opacity: 1;
        transform: rotateY(0);
    }
}

@-webkit-keyframes dw-fl-in {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
    }

    to {
        opacity: 1;
        -webkit-transform: rotateY(0);
    }
}

@-moz-keyframes dw-fl-in {
    from {
        opacity: 0;
        -moz-transform: rotateY(90deg);
    }

    to {
        opacity: 1;
        -moz-transform: rotateY(0);
    }
}

/* Flip out */
@keyframes dw-fl-out {
    from {
        opacity: 1;
        transform: rotateY(0deg);
    }

    to {
        opacity: 0;
        transform: rotateY(-90deg);
    }
}

@-webkit-keyframes dw-fl-out {
    from {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }

    to {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }
}

@-moz-keyframes dw-fl-out {
    from {
        opacity: 1;
        -moz-transform: rotateY(0deg);
    }

    to {
        opacity: 0;
        -moz-transform: rotateY(-90deg);
    }
}

/* Swing in */
@keyframes dw-sw-in {
    from {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes dw-sw-in {
    from {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }

    to {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }
}

@-moz-keyframes dw-sw-in {
    from {
        opacity: 0;
        -moz-transform: rotateY(-90deg);
    }

    to {
        opacity: 1;
        -moz-transform: rotateY(0deg);
    }
}

/* Swing out */
@keyframes dw-sw-out {
    from {
        opacity: 1;
        transform: rotateY(0deg);
    }

    to {
        opacity: 0;
        transform: rotateY(-90deg);
    }
}

@-webkit-keyframes dw-sw-out {
    from {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }

    to {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }
}

@-moz-keyframes dw-sw-out {
    from {
        opacity: 1;
        -moz-transform: rotateY(0deg);
    }

    to {
        opacity: 0;
        -moz-transform: rotateY(-90deg);
    }
}

/* Slide horizontal in */
@keyframes dw-sh-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes dw-sh-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes dw-sh-in {
    from {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

/* Slide horizontal out */
@keyframes dw-sh-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@-webkit-keyframes dw-sh-out {
    from {
        opacity: 1;
        -webkit-transform: translateX(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}

@-moz-keyframes dw-sh-out {
    from {
        opacity: 1;
        -moz-transform: translateX(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
}

/* Slide vertical in */
@keyframes dw-sv-in {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes dw-sv-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes dw-sv-in {
    from {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

/* Slide vertical out */
@keyframes dw-sv-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

@-webkit-keyframes dw-sv-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
}

@-moz-keyframes dw-sv-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
}

/* Slide Down In */
@keyframes dw-sd-in {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes dw-sd-in {
    from {
        opacity: 1;
        -webkit-transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes dw-sd-in {
    from {
        -moz-transform: translateY(-100%);
    }

    to {
        -moz-transform: translateY(0);
    }
}

/* Slide down out */
@keyframes dw-sd-out {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes dw-sd-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes dw-sd-out {
    from {
        -moz-transform: translateY(0);
    }

    to {
        -moz-transform: translateY(-100%);
    }
}

/* Slide Up In */
@keyframes dw-su-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes dw-su-in {
    from {
        opacity: 1;
        -webkit-transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes dw-su-in {
    from {
        -moz-transform: translateY(100%);
    }

    to {
        -moz-transform: translateY(0);
    }
}

/* Slide up out */
@keyframes dw-su-out {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

@-webkit-keyframes dw-su-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(100%);
    }
}

@-moz-keyframes dw-su-out {
    from {
        -moz-transform: translateY(0);
    }

    to {
        -moz-transform: translateY(100%);
    }
}


.dw,
.dwo {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dw {
    max-width: 98%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 12px;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    user-select: none;
    /*touch-action: none;*/
    /* Kills native scroll in Chrome >=35 */
}

.dw:focus {
    /*outline-color: transparent;*/
    outline: none;
}

.dw :focus {
    outline-offset: -2px;
}

.dw-rtl {
    direction: rtl;
}

/* Box sizing */
.dw,
.dwbc {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dwwr {
    min-width: 170px;
    zoom: 1;
    overflow: hidden;
    text-align: center;
    font-family: 'KBFG', arial, verdana, sans-serif;
    /* font-family: arial, verdana, sans-serif; @ja - 모비스크롤에서 KB폰트로 보이지 않아서 주석처리 */
}

/* Modal overlay */
.dw-persp,
.dwo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.dw-persp {
    z-index: 99998;
}

.dwo {
    z-index: 1;
    background: #000;
    background: rgba(0, 0, 0, .6);
    filter: Alpha(Opacity=60);
}

/* Liquid mode */
.dw-liq .dw {
    max-width: 100%;
}

/* Top/Bottom mode */
.dw-top .dw,
.dw-bottom .dw {
    width: 100%;
    max-width: 100%;
}

/* Inline mode */
.dw-inline .dw {
    position: static;
    display: inline-block;
    max-width: 100%;
}

.dw-inline.dw-liq .dw-persp .dw {
    display: block;
}

.dw-inline .dw-persp {
    position: static;
}

/* Bubble mode */
.dw-bubble .dw {
    margin: 20px 0;
}

.dw-bubble .dw-arrw {
    position: absolute;
    left: 0;
    width: 100%;
}

.dw-bubble-top .dw-arrw {
    bottom: -36px;
}

.dw-bubble-bottom .dw-arrw {
    top: -36px;
}

.dw-bubble .dw-arrw-i {
    margin: 0 30px;
    position: relative;
    height: 36px;
}

.dw-bubble .dw-arr {
    display: block;
}

.dw-arr {
    display: none;
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-width: 18px 18px;
    border-style: solid;
    margin-left: -18px;
}

.dw-bubble-bottom .dw-arr {
    top: 0;
}

.dw-bubble-top .dw-arr {
    bottom: 0;
}

.dw-hidden {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/* Header */
.dwv {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Buttons */
.dwb {
    overflow: hidden;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

.dwb-e {
    cursor: pointer;
}

.dwb-d {
    cursor: default;
}

/* Button container */
.dwbc {
    display: table;
    width: 100%;
    text-align: center;
}

/* Button wrapper */
.dwbw {
    vertical-align: top;
    display: table-cell;
    position: relative;
    z-index: 5;
}

.dwbw .dwb:before {
    padding: .375em;
}

/* Widget content styling */
.mbsc-wdg .dwcc {
    padding: .5em 1em;
    font-size: 14px;
    text-align: left;
    white-space: normal;
}

/* Default theme */
.mbsc-mobiscroll .dwwr {
    border-radius: 24px 24px 0 0;
    min-width: 220px;
    background: #fff;
    color: rgba(17, 17, 17, 1);

    font-size: 14px;
}

.mbsc-mobiscroll .dwv {
    padding: 15px 24px 0 24px;

    color: #111;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    min-height: 2em;
    line-height: 30px;
    text-align: left;

}


.mbsc-mobiscroll.dual-line .dwv {
    padding: 15px 80px 0 80px;
    line-height: 1em;

}

.mbsc-mobiscroll.no-cancel .dwb-c {
    display: none
}

.mbsc-mobiscroll.dual-line .dwv span {
    display: block;
    font-size: 0.85em;
    font-weight: normal;
    margin-top: 4px;
}

/* 키보드 버튼영역 */
.mbsc-mobiscroll .dwbc {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    height: 128px;
    padding: 32px 16px 34px;
    box-sizing: border-box;
    /*
    position:absolute;
    left:0;
    bottom:0px;
     */
    text-align: center;
}

/* 키보드 버튼영역 */
.mbsc-mobiscroll .dwbw {
    width: 100%;
    display: block;



}

.mbsc-mobiscroll .dwb-s {}

.mbsc-mobiscroll .dw-rtl .dwbw {}

.mbsc-mobiscroll .dwb-s+.dwb-c {
    margin-right: 5px
}

/*키보드 버튼*/
.mbsc-mobiscroll .dwb {
    height: 62px;
    line-height: 62px;
    ;
    padding: 0 1em;
    color: #111;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #f5f6f9;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 700;

}

.mbsc-mobiscroll .dwb-a {
    background: rgba(78, 204, 196, .3);
}

.mbsc-mobiscroll .dw-bubble-bottom .dw-arr {
    border-color: transparent transparent #f7f7f7 transparent;
}

.mbsc-mobiscroll .dw-bubble-top .dw-arr {
    border-color: #f7f7f7 transparent transparent transparent;
}


.dwwb,
.dwwo,
.dwwol {
    /*-webkit-backface-visibility: hidden;*/
    -webkit-transform: translateZ(0);
}

/* Wheel container wrapper */
.dwc {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Wheel label */
.dwl {
    line-height: 30px;
    height: 30px;
    top: -30px;
    left: 0;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    width: 100%;
}

/* Wheel container */
.dwwc {
    margin: 0 auto;
    position: relative;
    zoom: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.dwfl {
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
}

/* Wheels */
.dwwl {
    position: relative;
    z-index: 5;
}

.dwww {
    position: relative;
    padding: 1px;
    /*overflow: hidden;*/
}

.dww {
    overflow: hidden;
}

.dw-bf {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    backface-visibility: hidden;
    perspective: 1000px;
}

.dw-ul {
    position: relative;
    z-index: 3;
}

.dw-li {
    padding: 0 5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    opacity: .3;
    filter: Alpha(Opacity=30);
    cursor: pointer;
}

/*키보드*/
.dw-li.dw-sel {
    font-size: 18px;
    color: #000;
}

/* Valid entry */
.dw-li.dw-v,
.dw-li.dw-fv {
    font-size: 16px;
    opacity: 1;
    filter: Alpha(Opacity=100);
}

/* Hidden entry */
.dw-li.dw-h {
    visibility: hidden;
}

.dw-i {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.dw-li .dw-i .mobi_rank_wrap {
    /* position:relative; */

}

.dw-li .dw-i .mobi_rank {
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 13px;
    width: 26px;
    height: 26px;
}


/* .dw-li .dw-i{-webkit-transition:color 0.3s,font-size 0.3s;transition:color 0.3s,font-size 0.3s} */

.dw-li.dw-sel .dw-i .mobi_rank {
    top: 6px;
    left: 11px;
    width: 30px;
    height: 30px;
}

.dw-li .dw-i .mobi_rank.rank1 {
    background: url(/dctapp/images/car/common/ico_num1.png) no-repeat 0 0;
    background-size: 26px 26px;

}

.dw-li .dw-i .mobi_rank.rank2 {
    background: url(/dctapp/images/car/common/ico_num2.png) no-repeat 0 0;
    background-size: 26px 26px;
}

.dw-li .dw-i .mobi_rank.rank3 {
    background: url(/dctapp/images/car/common/ico_num3.png) no-repeat 0 0;
    background-size: 26px 26px;
}

.dw-li .dw-i .mobi_rank.rank4 {
    background: url(/dctapp/images/car/common/ico_num4.png) no-repeat 0 0;
    background-size: 26px 26px;
}

.dw-li .dw-i .mobi_rank.rank5 {
    background: url(/dctapp/images/car/common/ico_num5.png) no-repeat 0 0;
    background-size: 26px 26px;
}

.dw-li .dw-i .mobi_rank.rank6 {
    background: url(/dctapp/images/car/common/ico_num6.png) no-repeat 0 0;
    background-size: 26px 26px;
}


.dw-li.dw-sel .dw-i .mobi_rank.rank1,
.dw-li.dw-sel .dw-i .mobi_rank.rank2,
.dw-li.dw-sel .dw-i .mobi_rank.rank3,
.dw-li.dw-sel .dw-i .mobi_rank.rank4,
.dw-li.dw-sel .dw-i .mobi_rank.rank5,
.dw-li.dw-sel .dw-i .mobi_rank.rank6 {
    background-size: 30px 30px;
}

.foregin_car .dw-li .dw-i .mobi_rank {
    top: 10px
}

.foregin_car .dw-i {
    position: static;
    font-size: 14px !important;
    line-height: 16px !important
}

.foregin_car .dw-sel .dw-i {
    font-size: 16px !important;
    line-height: 20px !important
}

.foregin_car .dw-sel .c_type_red {
    color: #fb0000 !important
}





/* Clickpick mode */
.dwwb {
    position: absolute;
    z-index: 4;
    left: 0;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.dwa .dwwb {
    opacity: 0;
}

.dwpm .dwwbp {
    top: 0;
}

.dwpm .dwwbm {
    bottom: 0;
}

.dwpm .dwwol {
    display: none;
}

/* Wheel overlay */
.dwwo {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    background: transparent;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0) 70%,
            rgba(255, 255, 255, 1) 100%);
}

/* Background line */
.dwwol {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    pointer-events: none;
}

/* Liquid mode */
.dw-liq .dwc {
    display: block;
}

.dw-liq .dw-tbl {
    width: 100%;
    table-layout: fixed;
}

/* Hidden label */
.dwhl .dwl {
    display: none;
}

/* Hidden select element */
.dw-hsel {
    position: absolute;
    height: 1px;
    width: 1px;
    left: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Multiple lines */
.dw-ml .dw-li {
    overflow: hidden;
}

.dw-ml .dw-li .dw-i {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

/* Multiple selection */
.dwwms .dw-li {
    padding: 0 40px;
}

.dwwms .dwwol {
    display: none;
}

.dw-msel:before {
    width: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* Select groups */
.dww .dw-w-gr {
    padding: 0 5px;
    opacity: 1;
    font-weight: bold;
    text-align: left;
}


/* Default theme */
.mbsc-mobiscroll .dwc {
    padding: 2em 0 0 0;
}

.mbsc-mobiscroll .dwl {
    color: #4eccc4;
    font-size: .75em;
    text-transform: uppercase;
}

.mbsc-mobiscroll .dwhl {
    padding-top: 0;
}

.mbsc-mobiscroll .dwfl {}

.mbsc-mobiscroll .dw-li {
    font-size: 14px;
}

.mbsc-mobiscroll .dw-li.dw-sel {
    font-size: 16px;
    font-weight: 500;
    color: #2D4A9B;

}

.mbsc-mobiscroll .dw-hl {
    background: rgba(78, 204, 196, .3);
}

.mbsc-mobiscroll .dwwol {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

}

/* Clickpick mode */
.mbsc-mobiscroll .dwpm .dwwol {
    display: block;
}

.mbsc-mobiscroll .dwwb {
    /* color: #4eccc4; */
    background: #fff;
}

.mbsc-mobiscroll .dwwbp {
    bottom: 0;
    top: auto;
}

.mbsc-mobiscroll .dwwbm {
    top: 0;
    bottom: auto;
}

.mbsc-mobiscroll .dwwb span {
    display: none;
}

.mbsc-mobiscroll .dwwb:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.mbsc-mobiscroll .dwwb.dwb-a:before {
    background: rgba(78, 204, 196, .3);
}

/* Group select */
/* Multiple select */
.mbsc-mobiscroll .dw-w-gr {
    font-size: 1.125em;
}

.mbsc-mobiscroll .dw-msel:before {
    font-size: 40px;
    color: #4eccc4;
}

.mbsc-mobiscroll .dwwms .dwwol {
    display: none;
}

/*
@media (min-width:376px){
	.mbsc-mobiscroll .dwv{
		height:53px;
		font-size:18px;
	}

	.mbsc-mobiscroll.dual-line .dwv {
    padding: 15px 102px 0 102px;
    line-height: 1em;

	}

	.mbsc-mobiscroll .dw-li {
	    font-size: 18px;
	}
	.mbsc-mobiscroll .dw-li.dw-sel{
		font-size:21px

	}
	.mbsc-mobiscroll .dwb{
		font-size:14px;
		height:38px;
		padding:0 1.5em;
		line-height:36px;

	}
}

 */





/*mobiscroll Calendar*/




/* Box sizing */

.dw-cal-sc-m-cell,
.dw-cal-days,
.dw-cal-slide,
.dw-cal-row,
.dw-cal-day,
.dw-cal-day-fg,
.dw-week-nr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Backface visibility */

.dw-cal-sc-c,
.dw-week-nrs-c,
.dw-cal-c,
.dw-cal-anim-c,
.dw-cal-slide,
.dw-cal-tab .dw-i,
.dw-cal-sc .dw-i {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dw-calendar .dwcc {
    position: relative;
    margin: 0 auto;
}

.dw-calendar .dwc-hh {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
}

.dw-cal-c {
    position: relative;
}

.dw-cal-pnl {
    display: inline-block;
    vertical-align: middle;
}

.dw-cal-tabbed .dw-cal-pnl {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dw-cal-tabbed .dw-cal-pnl-h {
    display: none;
}

.dw-cal-tabbed .dw-cal-pnl-i {
    display: table-cell;
    vertical-align: middle;
}

.dw-cal-tabbed .dw-cal {
    width: auto !important;
}

.dw-trans .dw-persp .dw-cal-c {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*.dw-cal {
    -webkit-transform: translate3d(0,0,0);
}*/

.dw-cal-anim-c {
    position: relative;
    overflow: hidden;
}

.dw-cal-anim {
    position: relative;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.dw-cal-no3d .dw-cal-anim {
    margin: 0;
}

.dw-cal-slide {
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 300ms;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    /*transition: opacity 300ms;*/
    /* IE does it wrong */
}

.dw-cal-slide:first-child {
    position: relative;
}

.dw-cal-slide-a {
    opacity: 1;
}

.dw-cal-header {
    line-height: 40px;
}

.dw-cal table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.dw-cal th {
    line-height: 30px;
    text-align: center;
}

.dw-cal-nb {
    border: 0;
}

.dw-cal-body {
    position: relative;
}

.dw-cal-table {
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.dw-cal-row {
    white-space: nowrap;
    display: table-row;
}

.dw-cal-day {
    line-height: 2.5em;
    width: 14.2857%;
    height: 16.6666%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    cursor: default;
}

.dw-cal-day-v {
    cursor: pointer;
}

.dw-cal-day .dw-i {
    overflow: visible;
}

.dw-cal-day-diff .dw-i {
    opacity: .3;
}

.dw-hide-diff .dw-cal-day-diff .dw-i {
    visibility: hidden;
}

.dw-cal-day-inv .dw-i {
    opacity: .3;
}

.dw-cal-day-fg {
    padding: 5px;
    position: relative;
    z-index: 2;
}

/* Week numbers */

.dw-weeks .dw-cal-days-c,
.dw-weeks .dw-cal-anim-c {
    padding-left: 26px;
}

.dw-week-nrs-c {
    display: none;
    position: absolute;
    width: 26px;
    height: 100%;
    left: 0;
    z-index: 3;
}

.dw-week-nrs {
    display: table;
    width: 100%;
    height: 100%;
}

.dw-week-nr {
    position: relative;
    display: none;
    height: 16.6666%;
    text-align: center;
    font-weight: bold;
}

.dw-week-nr-i {
    display: table-cell;
    vertical-align: middle;
    padding-top: 1px;
}

.dw-weeks .dw-week-nrs-c {
    display: block;
}

.dw-week-nrs .dw-week-nr {
    display: table-row;
}

.dw-rtl .dw-weeks .dw-cal-days-c,
.dw-rtl .dw-weeks .dw-cal-anim-c {
    padding-left: 0;
    padding-right: 26px;
}

.dw-rtl .dw-week-nrs-c {
    left: auto;
    right: 0;
}

/* Month/year scroll */

.dw-cal-sc-c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}

.dw-cal-h {
    visibility: hidden;
}

.dw-cal-p-out {
    -webkit-animation: 200ms dw-f-out ease-in;
    -moz-animation: 200ms dw-f-out ease-in;
    animation: 200ms dw-f-out ease-in;
}

.dw-cal-p-in {
    -webkit-animation: 200ms dw-f-in ease-out;
    -moz-animation: 200ms dw-f-in ease-out;
    animation: 200ms dw-f-in ease-out;
}

.mbsc-old .dw-cal-p-in,
.mbsc-old .dw-cal-p-out {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.dw-cal-sc {
    position: relative;
    height: 100%;
    white-space: nowrap;
    font-size: 1.3333em;
}

.dw-cal-sc-p {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
}

.dw-cal-sc-tbl {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.dw-cal-sc-row {
    display: table-row;
}

.dw-cal-sc-cell {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dw-cal-sc-m-cell {
    height: 25%;
}

/* Prev/Next buttons */

.dw-cal-btnc {
    position: relative;
    font-size: 1.5em;
}

.dw-cal-btnw {
    position: relative;
    height: 40px;
}

.dw-cal .dw-cal-btn {
    position: absolute;
    top: 0;
    height: 40px;
    width: 36px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.dw-cal .dwb-d {
    opacity: .3;
}

.dw-cal-prev {
    left: 0;
}

.dw-cal-next {
    right: 0;
}

.dw-cal-month,
.dw-cal-year {
    cursor: pointer;
}

.dw-cal-btnc-ym .dw-cal-month,
.dw-cal-btnc-ym .dw-cal-year {
    display: block;
    margin: 0 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dw-cal-btnc-ym .dw-cal-btnw {
    width: 50%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}

.dw-cal-btn-txt {
    overflow: hidden;
}

.dw-cal-btn-txt:before {
    display: block;
}

/* Liquid layout */

.dw-cal-liq .dw {
    display: block;
}

.dw-cal-liq .dw-cal-pnl {
    width: 100%;
}

.dw-cal-liq .dw-cal {
    width: auto;
}

.dw-cal-liq.dw-modal .dw {
    width: 100%;
    top: 0;
    left: 0;
}

.dw-cal-liq.dw-modal .dwo {
    display: none;
}

.dw-cal-liq.dw-modal .dwwr {
    width: auto !important;
}

/* Tabs */

.dw-cal-tabs {
    line-height: 40px;
    display: none;
    color: #000;
}

.dw-cal-tabbed .dw-cal-tabs {
    display: block;
}

.dw-cal-tabbed .dwwr {
    width: auto !important;
}

.dw-cal-tabs ul,
.dw-cal-tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dw-cal-tabs ul {
    width: 100%;
    display: table;
}

.dw-cal-tab {
    width: 33.33%;
    display: table-cell;
    cursor: pointer;
}

.dw-cal-tab .dw-i {
    display: block;
    text-decoration: none;
}

/* Multimonth view */

.dw-cal-multi .dw-cal-slide {
    padding-left: 8px;
}

.dw-ltr .dw-cal-multi .dw-cal-anim-c {
    margin-right: -8px;
}

.dw-rtl .dw-cal-multi .dw-cal-anim-c {
    margin-left: -8px;
}

.dw-cal-multi .dw-cal-anim {
    margin-left: -8px;
}

.dw-cal-multi .dw-cal-btnw {
    display: block;
    width: auto;
}

.dw-cal-multi .dw-cal-btnw-m {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}

.dw-cal-multi .dw-cal-days-c {
    overflow: hidden;
}

.dw-cal-multi .dw-cal-days {
    float: left;
}

/* Dynamic sizing */

.mbsc-cal-m .dw-cal {
    font-size: 1.2em;
}

.mbsc-cal-l .dw-cal {
    font-size: 1.4em;
}

/* Default theme */

.mbsc-mobiscroll .dw-cal-c {
    padding: .5em;
}

.mbsc-mobiscroll .dw-cal-sc {
    font-size: 1em;
}

.mbsc-mobiscroll .dw-cal-sc-c {
    background: #f7f7f7;
}

.mbsc-mobiscroll .dw-cal-btnc {
    font-size: 1.125em;
    font-weight: 700;
}

.mbsc-mobiscroll .dw-cal-btn-txt {
    color: #4eccc4;
    font-size: 1em;
    line-height: 40px;
}

.mbsc-mobiscroll .dw-cal-days {
    color: #ec4e00;
    border-bottom: 1px solid #ec4e00;
}

.mbsc-mobiscroll .dw-cal-days th {
    font-size: .6875em;
    font-weight: normal;
}

.mbsc-mobiscroll .dw-cal-day {
    line-height: 1.875em;
    text-align: center;
}

.mbsc-mobiscroll .dw-cal-day-fg {
    font-size: .8125em;
}

.mbsc-mobiscroll .dw-cal .dw-sel .dw-i {
    background: #fcaf17;
    color: #333;
}

.mbsc-mobiscroll .dw-cal-day-hl .dw-i {
    border-color: #4eccc4;
}

.mbsc-mobiscroll .dw-week-nrs-c {
    font-size: .6875em;
    color: #4eccc4;
    background: #f7f7f7;
}

.mbsc-mobiscroll .dw-week-nr-i {
    padding-top: 0;
    font-weight: normal;
}

/* Tabs */

.mbsc-mobiscroll .dw-cal-tabs {
    line-height: 1.875em;
    padding: .5em .5em 0 .5em;
    text-transform: uppercase;
}

.mbsc-mobiscroll .dw-cal-tabbed .dwwr {
    padding-top: .5em;
}

.mbsc-mobiscroll .dw-cal-tabbed .dwv {
    padding-top: 0;
}

.mbsc-mobiscroll .dw-cal-tab {
    border: 1px solid #4eccc4;
    font-size: .7em;
}

.mbsc-mobiscroll .dw-cal-tabs ul {
    width: auto;
    margin: 0 auto;
}

.mbsc-mobiscroll .dw-cal-tab .dw-i {
    padding: 0 1.2em;
    color: #454545;
}

.mbsc-mobiscroll .dw-ltr .dw-cal-tab:first-child {
    border-right: 0;
}

.mbsc-mobiscroll .dw-ltr .dw-cal-tab:last-child {
    border-left: 0;
}

.mbsc-mobiscroll .dw-rtl .dw-cal-tab:last-child {
    border-right: 0;
}

.mbsc-mobiscroll .dw-rtl .dw-cal-tab:first-child {
    border-left: 0;
}

.mbsc-mobiscroll .dw-cal-tabs .dw-sel {
    background: #4eccc4;
}

.mbsc-mobiscroll .dw-cal-tabs .dw-sel .dw-i {
    color: #f7f7f7;
}

.dw-cal-ev .dw-cal-day-fg {
    padding-bottom: 20px;
}

.dw-cal-day-m {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 0;
    height: 0;
    border: 5px solid black;
    background-clip: padding-box;
}

.dw-cal-day-m-t {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.dw-cal-day-m-c {
    display: table-cell;
}

.dw-cal-m-bottom .dw-cal-day .dw-cal-day-m {
    width: auto;
    height: 3px;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    margin: 0;
}

.dw-cal-day-ic-c,
.dw-cal-day-txt-c {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.dw-cal-day-ic-c {
    padding: 0 5px;
    font-size: 1em;
    line-height: 20px;
    text-overflow: ellipsis;
    text-shadow: none;
}

.dw-cal-day-txt {
    padding: 0 2px;
    font-size: .8333em;
    font-weight: normal;
    line-height: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: none;
    margin-top: 2px;
}

/* Events */

.dw-cal-events {
    display: none;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    padding: 5px;
}

.dw-cal-events-t {
    visibility: hidden;
}

.dw-cal-events-i {
    overflow: hidden;
}

.dw-cal-events-sc {
    position: relative;
    -webkit-backface-visibility: hidden;
}

.dw-cal-events-v {
    display: block;
}

.dw-cal-event-list {
    margin: 0;
    padding: 0;
}

.dw-cal-event {
    margin-top: 5px;
    padding: 5px 60px 5px 10px;
    line-height: 20px;
    list-style: none;
    position: relative;
    text-align: left;
    white-space: nowrap;
    font-size: 1em;
}

.dw-cal-event:first-child {
    margin: 0;
}

.dw-cal-event-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
}

.dw-cal-event-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dw-cal-event-time {
    display: inline-block;
    width: 5em;
}

.dw-cal-event-dur {
    position: absolute;
    top: 50%;
    right: 5px;
    height: 20px;
    margin-top: -10px;
    line-height: 20px;
}

.dw-cal-events-arr {
    position: absolute;
    bottom: -14px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -7px;
    border: 7px solid #fff;
    border-color: #fff transparent transparent transparent;
}

.dw-cal-events-b .dw-cal-events-arr {
    bottom: auto;
    top: -14px;
    border-color: transparent transparent #fff transparent;
}

/* Default theme */

.mbsc-mobiscroll .dw-cal-day-m {
    top: auto;
    left: 50%;
    bottom: 4px;
    border: 0;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    background: #454545;
    border-radius: 3px;
}

.mbsc-mobiscroll .dw-sel .dw-cal-day-m {
    background: #f7f7f7;
}

.mbsc-mobiscroll .dw-cal-c .dw-cal-m-bottom .dw-cal-day-m {
    background: none;
    bottom: 4px;
}

.mbsc-mobiscroll .dw-cal-day-m-t {
    display: block;
    height: 4px;
    overflow: hidden;
    white-space: normal;
}

.mbsc-mobiscroll .dw-cal-day-m-c {
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 4px;
    margin: 0 1px;
    background: #4eccc4;
    border-radius: 3px;
}

.mbsc-mobiscroll .dw-sel .dw-cal-day-m-c {
    background: #f7f7f7;
}

.mbsc-mobiscroll .dw-cal-day-txt {
    color: #f7f7f7;
    background: #454545;
}

.mbsc-mobiscroll .dw-cal-day-txt,
.mbsc-mobiscroll .dw-cal-day-ic-c {
    font-size: .625em;
}

.mbsc-mobiscroll .dw-cal-events {
    margin: 0 0 5px 0;
    padding: 0;
    color: #f7f7f7;
    background: #858585;
}

.mbsc-mobiscroll .dw-cal-events-b {
    margin: 10px 0 0 0;
}

.mbsc-mobiscroll .dw-cal-event {
    margin: 0;
    padding: 10px 60px 10px 15px;
    font-size: .75em;
}

.mbsc-mobiscroll .dw-cal-event-color {
    background: #4eccc4;
}

.mbsc-mobiscroll .dw-cal-event-time,
.mbsc-mobiscroll .dw-cal-event-dur {
    color: #4eccc4;
}

.mbsc-mobiscroll .dw-cal-events-arr {
    border-color: #858585 transparent transparent transparent;
}

.mbsc-mobiscroll .dw-cal-events-b .dw-cal-events-arr {
    border-color: transparent transparent #858585 transparent;
}

.mbsc-mobiscroll .dwbc .dwb-s .dwb {
    background-color: #ffde33;
    border-radius: 12px;
}

.dw-cal-header .dw-cal-prev {
    background-image: url('/dctapp/images/car/ct/bg_arr_calendar01.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 16px;
}

.dw-cal-header .dw-cal-next {
    background-image: url('/dctapp/images/car/ct/bg_arr_calendar02.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 16px;
}


@supports(padding: max(0px)) {
    .post {
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
}

.auth_bottom_padding {
    padding-bottom: 50px
}

body.iphone .auth_bottom_padding {
    padding-bottom: 200px
}

.mbsc-mobiscroll .dw-li {
    display: block
}

.mobibutton_wrap {
    width: 100%
}

.mobibutton_wrap .mobibutton {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    opacity: 0
}

.mobibutton_wrap>input {
    z-index: 1;
    position: relative;
}

/* .mobibutton_wrap.mobi_ios > input{ z-index:3!important} */
.webAccMode .dw-ul {
    margin-top: 0 !important;
    top: 0 !important
}

.webAccMode .dwwol {
    display: none
}

.webAccMode .dww {
    overflow-y: auto !important
}

.mbsc-mobiscroll .dw-li {
    display: block
}

.webAccMode.mbsc-mobiscroll .dw-li.dw-sel {
    border-bottom: 2px solid #fcaf17;
    box-sizing: border-box;
}




.mbsc-ios.mbsc-fr-top .mbsc-fr-btn-cont,
.mbsc-ios.mbsc-fr-bottom .mbsc-fr-btn-cont {
    background: #efefef;
}

.mbsc-ios .mbsc-fr-overlay {
    background: rgba(0, 0, 0, .2);
}

.mbsc-ios .mbsc-fr-w {
    position: relative;
    padding-top: 3.666667em;
    background: #f7f7f7;
    color: #000;
    font-size: 12px;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mbsc-ios .mbsc-fr-has-hdr .mbsc-fr-w {
    min-width: 25em;
}

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-w,
.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
    min-width: 16.666667em;
}

.mbsc-ios .mbsc-fr-hdr {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1.25em;
    padding: .75em 4.375em;
    color: #000;
    font-size: 1.333334em;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-hdr,
.mbsc-ios.mbsc-fr-center:not(.mbsc-cal-liq) .mbsc-fr-hdr {
    position: relative;
    padding: .75em .5em;
    border-bottom: 1px solid #ccc;
    white-space: normal;
}

.mbsc-ios .mbsc-fr-btn-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.mbsc-ios .mbsc-fr-btn {
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 .625em;
    display: inline-block;
    color: #007aff;
    font-size: 1.333334em;
}

.mbsc-ios .mbsc-fr-btn-a {
    opacity: .5;
}

.mbsc-ios.mbsc-fr-center.mbsc-no-touch .mbsc-fr-btn-e:not(.mbsc-fr-btn-d):hover {
    background: #ebebe8;
}

.mbsc-ios .mbsc-fr-btn-w {
    display: block;
    float: right;
}

.mbsc-ios .mbsc-fr-btn-c,
.mbsc-ios .mbsc-rtl .mbsc-fr-btn-w {
    float: left;
}

.mbsc-ios .mbsc-rtl .mbsc-fr-btn-c {
    float: right;
}

.mbsc-ios .mbsc-fr-btn-s .mbsc-fr-btn {
    font-weight: bold;
}


/* Bubble arrow */

.mbsc-ios.mbsc-fr-bubble .mbsc-fr-w,
.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
    border-radius: 8px;
}

.mbsc-ios .mbsc-fr-arr-w {
    z-index: 0;
}

.mbsc-ios .mbsc-fr-arr {
    position: relative;
    width: 26px;
    height: 26px;
    background: #f7f7f7;
    border: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -13px;
}

.mbsc-ios .mbsc-fr-bubble-top .mbsc-fr-arr {
    top: -17px;
    border-bottom-left-radius: 6px;
}

.mbsc-ios .mbsc-fr-bubble-bottom .mbsc-fr-arr {
    top: 17px;
    border-top-right-radius: 6px;
}


/* Top and bottom display */

.mbsc-ios.mbsc-fr-bottom .mbsc-fr-overlay,
.mbsc-ios.mbsc-fr-top .mbsc-fr-overlay {
    background: none;
}

.mbsc-ios.mbsc-fr-bottom .mbsc-fr-popup {
    border-top: 1px solid #909090;
}

.mbsc-ios.mbsc-fr-top .mbsc-fr-popup {
    border-bottom: 1px solid #909090;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    .mbsc-ios .mbsc-fr-hdr,
    .mbsc-ios .mbsc-fr-btn-cont,
    .mbsc-ios.mbsc-fr-bottom .mbsc-fr-popup,
    .mbsc-ios.mbsc-fr-center .mbsc-fr-btn-w {
        border-width: .5px;
    }
}


/* Center display button  */

.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
    padding-top: 0;
    padding-bottom: 3.75em;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-w {
    padding: 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-cont {
    display: table;
    top: auto;
    bottom: 0;
    border: 0;
    table-layout: fixed;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn {
    display: block;
    font-weight: normal;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-w {
    display: table-cell;
    float: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-w:first-child {
    border-left: 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w {
    border-left: 0;
    border-right: 1px solid #ccc;
}

.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w:first-child {
    border-right: 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-ltr .mbsc-fr-btn-w:first-child .mbsc-fr-btn,
.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w:last-child .mbsc-fr-btn {
    border-radius: 0 0 0 .5em;
}

.mbsc-ios.mbsc-fr-center .mbsc-ltr .mbsc-fr-btn-w:last-child .mbsc-fr-btn,
.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w:first-child .mbsc-fr-btn {
    border-radius: 0 0 .5em 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-a {
    background: #ebebe8;
    opacity: 1;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-btn-cont {
    position: static;
    display: block;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-btn-w {
    display: block;
    border-left: 0;
    border-right: 0;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-w .mbsc-fr-btn-w .mbsc-fr-btn {
    border-radius: 0;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-btn-w:last-child .mbsc-fr-btn {
    border-radius: 0 0 .5em .5em;
}


/* Inline display */

.mbsc-ios.mbsc-fr-inline .mbsc-fr-w {
    border: 0;
    border-radius: 0;
    background: #fff;
}


/* No buttons */

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-w {
    padding: 0;
}




/* .ui-dct-menu{
    position:absolute;right:0;top:0;
    width:20px;height:20px; background-color: #007aff;
} */

.dct-step-wrap {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}